.App {
  text-align: left;
  align-items: left;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  width: 300px;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(156, 23, 23);
}

.App-body {
  font-size: calc(10px + 2vmin);
  color: #282c34;
  height: cover;
}

.App-footer {
  font-size: calc(8px + 1vmin);
  color: #282c34;
  position: absolute;
  font-size: 1.5em;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  /* text-align: center; */
  border-top: 1px solid #eaeaea;
}

.Divider {
  border: none;
  height: 5px; /* Adjust thickness as needed */
  background-color: #282c34; /* Match the color to your design */
  margin: 20px 0; /* Adjust spacing as needed */
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
